/*Landing page*/
.landing-page {
  background-image: url("../img/backgrounds/RTbg-2.png");
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  min-height: 100vh;
}
